.App {
/**/
}


.App-header {
  background-color: #2e4677;
  color: white;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.App-header p{
  font-size: calc(3px + 2vmin);
}

#addItemForm{
  background-color: #fdfdfd;
  width: 80%;
}